app-footer:host {
  flex: 0 0 50px;
  display: flex;
  position: relative;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.15), 0 -2px 6px rgba(0,0,0,0.34);
  z-index: 5;
}

.background {
  position: absolute;
  width: calc(100% / 4);
  top: 0;
  height: 100%;
  background: grey;
}

.footer-icon {
  flex: 0 0 20%;
  background: #f1882e;
  box-sizing: border-box;
  &:hover,
  &.active {
    background: #FFF;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
  img {
    max-height: 100%;
  }
}
