<div class="footer-icon" routerLink="/feed" routerLinkActive="active">
  <img src="../../../assets/png64/004-news.png" alt="">
</div>
<div class="footer-icon" routerLink="/link2" routerLinkActive="active">
  <img src="../../../assets/png64/021-stadium.png" alt="">
</div>
<div class="footer-icon" routerLink="/link3" routerLinkActive="active">
  <img src="../../../assets/png64/020-sword.png" alt="">
</div>
<div class="footer-icon" routerLink="/link4" routerLinkActive="active">
  <img src="../../../assets/png64/026-calendar.png" alt="">

</div>
<div class="footer-icon" routerLink="/link5" routerLinkActive="active">
  <img src="../../../assets/png64/014-from-mouth-to-mouth.png" alt="">

</div>
