<div class="footer-icon" routerLink="/account/feed" routerLinkActive="active">
  <img src="../../../assets/png64/004-news.png" alt="">
</div>
<div class="footer-icon" routerLink="/account/sessions" routerLinkActive="active">
  <img src="../../../assets/png64/021-stadium.png" alt="">
</div>
<div class="footer-icon" routerLink="/account/new-session" routerLinkActive="active">
  <img src="../../../assets/png64/020-sword.png" alt="">
</div>
<div class="footer-icon" routerLink="/account/schedule" routerLinkActive="active">
  <img src="../../../assets/png64/026-calendar.png" alt="">

</div>
<div class="footer-icon" routerLink="/account/chat" routerLinkActive="active">
  <img src="../../../assets/png64/014-from-mouth-to-mouth.png" alt="">

</div>
