app-header:host {
  flex: 0 0 50px;
  background: var(--third-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  padding: 0 10px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  img {
    max-width: 32px;
  }
}
