app-button:host {
  display: flex;
  flex-direction: column;
  position: relative;
}
input {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  background: #FFF;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}
