app-button:host {
  display: flex;
  flex-direction: column;
  position: relative;
}
input {
  height: 50px;
  width: 100%;
  background: var(--third-color);
  color: var(--sixth-color);
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}
