<section>
  <p>Login</p>
  <h1>Gamersland</h1>
  <form>
    <app-input name="Username"></app-input>
    <app-input name="Password" type="password"></app-input>
    <app-button name="Login" type="submit"></app-button>
  </form>
  <div class="help">
    <div class="space-between">
      <app-checkbox id="remember" name="Remember me"></app-checkbox>
      <a href="">Forgot Password?</a>
    </div>
    <p>Login With</p>
    <div class="space-between">
      <div class="social">
        <a href="">Facebook</a>
      </div>
      <div class="social">
        <a href="">Twitter</a>
      </div>
    </div>
  </div>
</section>
