<div class="heading">
  <strong>{{game.title}}</strong>
  <strong routerLink="/account/game/1">{{game.gameName}}</strong>
</div>
<div class="badges">
  <div class="badge"><span>Platform</span>
    <div class="icon">{{game.platform}}</div>
  </div>
  <div class="badge"><span>Region</span>
    <div class="icon">{{game.region}}</div>
  </div>
  <div class="badge"><span>Language</span>
    <div class="icon">{{game.language}}</div>
  </div>
</div>
<div class="players">
  <ng-container *ngFor="let user of game.users">
    <div class="player">
      <img [src]="user.avatar" alt="">
    </div>
  </ng-container>
  <ng-container *ngIf="game.users.length < 5">
    <ng-container *ngFor="let item of arrayOf(game.users.length)">
      <div class="player">
        <img src="../../../assets/user.png"/>
      </div>
    </ng-container>
  </ng-container>
</div>
