<div class="heading">
<strong>{{title}}</strong>
  <strong>{{gameName}}</strong>
</div>
<div class="badges">
  <div class="badge"><span>Platform</span> <div class="icon">PC</div></div>
  <div class="badge"><span>Region</span> <div class="icon">EU</div></div>
  <div class="badge"><span>Language</span> <div class="icon">EN</div></div>
</div>
<div class="players">
  <ng-container *ngFor="let player of players">
    <div class="player">
      <img [src]="player.avatar" alt="">
    </div>
  </ng-container>
</div>
